body {
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: grey;
	margin:0px;
background-size:cover;
}

header {
background-color: #333;
		margin:0px;
		padding:0px;
		border-radius: 3px;
		height:40px;
		width: 100%;}

/*header h3 {float: left;
			margin:0;
			padding:0px;
			line-height: 40px;
			}*/


header img  {			
				height:70px;
				width:70px;
				float: right;
				pointer:cursor;
				margin:0px;
				padding:0px;
				cursor:pointer;
		}


 ul {
	margin:0px;
	padding:0px;
	list-style: none;
}


ul li { 
float:left;
		color:grey;
		background-color: #333;
	font-family:arial;
	margin:0px;
	border-right: 2px red solid;
	height: 40px;
	min-width:150PX;
text-align: center;

line-height: 40px;
	
}

ul li a {color: grey;}

ul li ul li{ display: none;
float:none;
border:none;
margin:1px; 
padding: 0px;
background-color: #333;
opacity: 0.9;
padding:0;
}

ul li:hover ul li{display: block;
	margin: 0px;
	padding: 0;
	
}
ul li:hover {color:white;
		 }

ul li ul li:hover {background-color: rgba(13,74,32,0.7);}

a {text-decoration: none;}

ul li a{color: grey;
	text-decoration: none;
display: block;


}

ul li ul li:last-child{ border-radius:0 0 3px 3px;}

ul li a:hover{color: white;
	text-decoration: none;
display: block;
margin: 0;
padding: 0px;
}

.alag:hover {border-bottom:5px green solid; }


h4   {background-color:green;
		width:100%;
		height:20px;
		position: fixed;
		top:0px;
		left:20px;
		display: none;
		margin: 0 auto;
		padding: 0px;

		 }

.show{display: none;
text-decoration: none;
color:white;
margin: 0 auto;
padding: 0;
background-color: green;
position:fixed;
top:0px;
left:0px;
height:20px;
}


input[type=checkbox]{display: none;
	margin:0px;
	padding:0px;}

input[type=checkbox]:checked ~ #menu{
	display:block;
	margin-top:20px;
}

@media screen and (max-width: 760px) {

	body {background: none;
		background-color: #D3D3D3;
		}
	header{background: none;}

	ul {position: static;
		display:none;}

	ul li {
		border:3px red solid;
		width: 10px;
		background-color: rgba(0,0,0,1);
		color:grey;}

	ul li ul li {display: inline-block;}
	
	ul li a
	{color:grey;
		border:10x red solid;
	}

	.show {margin:0;
		display: block;
		padding:0;}

	header img{display: none;}

	h4  {display: inline-block;
		text-align: center;
		color:white;
		border-left: 5px;
		border-color: red;}

header h3 {display: none;}

.alag:hover  {border:none;
			}



}

.contain {height:500px;
	text-align: center;
			width: 650px;
			background-color: rgba(68, 45, 83,0.7);
				margin:0 auto;
				border-radius: 5px;
				margin-top:-20px;
				}



.SIGN { 	margin: 0;
		margin-left:30px;

			outline:none;
				border-radius:4px;
				border:none;
				padding: 0;
				margin-top: 7px;
				width: 450px;
				height:35px;
				padding-left: 5px;
				transition: width .4s ease-in-out;
				 }

.SIGN:focus {box-shadow: 5px 5px 20px #333;
			width:70%;}

.SIGN:first-child {margin-top:40px;}


.gender {height:35px;
	font-family: COMIC SAN MS;
	outline: none;
	background-color: #C9D6DB;
		border-radius: 5px;
		border:none;
			width:300px;
			margin: 7px 0 0 0px;

			}

.btn  {margin-top:10px;
		padding:10px 10px;
		border-radius: 0px;
		outline: none;
		border: 0 ;
		width:100px;
		background-color: rgaba(68,92,13,0.9);
		cursor: pointer;
		color:rgba(0,0,0,0.9);
		font-family: arial black;
		}

.btnt {margin-top:10px;
		padding:10px 15px;
		border-radius: 2px;
		outline: none;
		border: 0px;
		width:200px;
		background-color: rgaba(68,92,13,0.9);
		cursor: pointer;
		color:rgba(0,0,0,0.9);
		font-family: arial black;}

.btnt:hover {box-shadow: 5px 5px 30px #000;
				opacity:1;
				color:rgba(0,0,0,0.8);}

.btn:hover {box-shadow: 5px 5px 30px #000;
				opacity:1;
				color:rgba(0,0,0,0.8);}

.info {color:rgba(0,0,0,0.9);
	text-align: justify;
		margin:13px 160px 4px 160px;
		border-left: 2px red solid;
		border-right:2px red solid;
		padding:0 5px;
		border-radius: 4px 0;
		opacity:0.7;
		}

.info a{ color:black; }

.birth { background-color: #C9D6DB;
			margin:0 auto;
			margin-top: 4px;
			outline: none;
			border-radius: 3px;
			margin-right:4px;
			height:35px;
			width:100px; }

.logo   {height:100px;
			width:400px;
		margin:0 auto;
		margin:10px 0 0 40px;
		padding:0 0;
cursor:pointer;
		


		}





