body { background-image:  url("rmail.jpg");
		background-repeat: no-repeat;
		background-size: cover; 
		margin:0 auto;
		padding:0;}

		a {	text-decoration: none;
	color: red;}


	.log1 { display: none; }

	

header { background-color:white;
	position: fixed;
	top:0px;
		margin:0 auto;
		width:100%;
		min-height:80px; 
		}


h1 { margin:0px;
		display: inline-block; }



 h1  a { display: inline-block;
 	text-decoration: none;
		margin-left: 20px;
		font-size: 60px;
		margin-top:0px;
		margin-bottom:0px;
		display: inline;
		font-family: chiller;
		color:red;}




.logon {
			float:right;
		letter-spacing: 0px;
			margin:0px;
		padding:20px 10px;
		height:40px;
		width: 200px;
		text-align: center;
		border-color:grey;
		line-height: 40px;
		color:black;
		}


.login {
		float:right;
		letter-spacing: 0px;
		margin:0px;
		padding:20px 20px;
		background-color: red;
		color:white;
			height:40px;
			width:100px;
			opacity: 0.8;
			text-align: center;
			line-height: 40px;
			font-size: 20px;}

.text  {margin:0 auto;
		padding:0px;
		margin-top:40px;
		width:1039px;
		padding-top:30px;
		}

p  {	
		font-family: Roboto, Helvetica, arial, sans-serif;
font-size:48px;
font-weight:100px;
height:372px;
line-height:62px;
width:296px;
	 }

.log  {
	background-color: red;
	opacity: 0.6;
	padding:20px;
	color:white;
	height:100px;
	margin-bottom:20px;
}

.logon:hover  {color:red;
			outline:1px;}

.log:hover  {opacity: 0.9;}




@media screen and (max-width: 424px)
	{
			body {	background-image: none;
					overflow-x:hidden;
					width:424px;

					}

					header { width: 424px;
					background-color: red;	 } 

		.text {	width: 394px;
				padding-left: 30px;
				}

		
	
	p { margin:0px;
		padding:0px; 
		margin-top: 50px;
		margin-bottom:10px;
		width: 300px;
	}



	.label {display: block;}

	.logon {text-align: right;
		float: left;
		display: none;}

	h1 a {color: white;
		margin-top:10px;
		font-size: 60px;}

	.login {padding:10px 10px;
			height:20px;
			float: left;
			display: none;
			line-height: 20px;}

.log 	{ float: right;
		height:20px;
		margin-top:10px;
		opacity: 1;
		border-left: 10px solid black;
		margin:0 10px 0px 0; }

.log1 { display: inline-block;
			color: white;
			margin-top:10px;
			background-color:red;
			padding:20px;
			margin:0px; 
			width:140px;
			border-right: 15px solid black;
			text-align: center;
			 }




	}


