{% extends 'rmail.html' %}
{% load static %}
{% block temp %}
    <head>
        <title>About</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/about.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/fmt.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/mainsetup.css' %}">
<style>
   
</style>
{% endblock %}
{% block content %}
    <body class="back-ground"> 
<div id = "section1">      
<div class="fmt-row"  style="padding: 110px 48px 0px 48px; background-size: 100%;">
  <div class="fmt-col m17 fmt-center fmt-animate-center">
    <div class="catch-line" style="color:#f8f8f8">
    
      Building a world of anonymity,<br/>
      yet closer together.
  
    </div>
    <div style="margin-top: 80px;" class="fmt-animate-bottom">
      <a href="#section2" class="button-block">How?</a>
    </div>
  </div>
</div>
</div>

<div id = "section2">      
<div class="fmt-row"  style="padding: 110px 48px 0px 48px; background-size: 100%;">
  <div class="fmt-col m17 fmt-center fmt-animate-center">
    <div class="catch-line" style="color:#0A0A0A">
    
      Presenting Agyavart
  
    </div>
    <div class="normal-text" style="color:#2C3E50; margin-top: 20px;">
        Have a message for someone but unable to tell them.<br>
        Fear of losing?<br>
        We are here to help you out<br>
        Go tell them what you feel<br>
        Do not worry we won't let them know your identity<br>

    </div>
    <div style="margin-top: 80px;" class="fmt-animate-bottom">
      <a href="#section3" class="button-block">Show me how?</a>
    </div>
  </div>
</div>
</div>

<div id = "section3">      
<div class="fmt-row"  style="padding: 110px 48px 0px 48px; background-size: 100%;">
  <div class="fmt-col m17 fmt-center fmt-animate-center">
    <div class="catch-line" style="color:#2ECC71">
    
      4 Simple steps...
  
    </div>
    <div class="normal-text " style="color:#333; margin-top: 20px;">
        <ol>
          <li>  &nbsp;&nbsp;Create your <a href="/signup.html">Account.</a></li>
          <li>  &nbsp;Find your mate.</li>
           <li> &nbsp;Write whatever you want and click sent</li>
          <li>  &nbsp;They will get the message but not your Identity</li>
        </ol>
    </div>
    <div style="margin-top: 80px;" class="fmt-animate-bottom">
      <a href="#section4" class="button-block">What Else?</a>
    </div>
  </div>
</div>
</div>

<div id = "section4">      
<div class="fmt-row"  style="padding: 110px 48px 0px 48px; background-size: 100%;">
  <div class="fmt-col m17 fmt-center fmt-animate-center">
    <div class="catch-line" style="color:#CB4335">
    
      We are available everywhere
  
    </div>
    <div class="normal-text " style="color:#333; margin-top: 20px;">
        <img src="{%static 'images/availability.png' %}" id="available" alt="available Devices">
     <br><a href="#section5"><i class="fa fa-arrow-down" id="arrowdown" aria-hidden="false"></i></a>  
    </div>
  </div>
</div>
</div>   

<div id ="section5">      
<div class="fmt-row"  style="padding: 110px 48px 0px 48px; background-size: 100%;">
  <div class="fmt-col m17 fmt-center fmt-animate-center">
    <div class="catch-line" style="color:#283747">
    
    Download our app 
        
    </div>
    <div class="normal-text fmt-center" style="color:#fff; margin-top: 20px;">
        <ul>
          <li>Visit our <a href="/rmail.html" style="color:#002b7c">homepage.</a></li>
          <li>Find the option 'Add to home screen' in browser menu.</li>
           <li>Click and wait for installation to start.</li>
          <li>Enjoy seemingless experience in app.</li>
        </ul>
    </div>
    <div style="margin-bottom: 80px;margin-top: 40px" class="fmt-animate-bottom">
      <a href="{% static 'images/Agyavart.apk' %}" class="button-block">Download APK Now</a>
      <br/><br/><br/><br/>
      <a href="login.html" class="button-block" style="background-color: #0059ff;">Continue on web</a>
    </div>
  </div>
</div>
</div>          
{%endblock %}
