{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{%static 'styles/loader.css' %}">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
    <meta name=”description” content="Building a world of anonymity, yet closer together. Join our community now!">
    <meta property="og:title" content="Agyavart">
    <meta property="og:type" content="Social Platform">
    <meta property="og:url" content="https://rajathandsom.pythonanywhere.com/">
    <meta property="og:description" content="Building a world of anonymity, yet closer together. Join our community now!">
    <meta property="og:image" content="https://rajathandsom.pythonanywhere.com/static/images/pwa-512x512.png">
    <meta name="favicon" content="https://rajathandsom.pythonanywhere.com/static/images/pwa-512x512.png">
    <meta name="twitter:card" content="https://rajathandsom.pythonanywhere.com/static/images/pwa-512x512.png">
    <meta name="linkedin:card" content="https://rajathandsom.pythonanywhere.com/static/images/pwa-512x512.png">
    <link rel="icon" href="{% static '/images/rmailLogoConcept.svg' %}">
    <meta name="theme-color" content="#008080">
    <link rel="apple-touch-icon" href="https://rajathandsom.pythonanywhere.com/static/images/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="150x150" href="https://rajathandsom.pythonanywhere.com/static/images/pwa-150x150.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://rajathandsom.pythonanywhere.com/static/images/apple-touch-icon-180x180.png">
	<title>Agyavart</title>
<script type="text/javascript">
	setTimeout(function(){
            window.location.href = '/rmail.html';
         }, 1000);
</script>
<style type="text/css">

* {
  box-sizing: border-box;

}
  *::before, *::after {
    box-sizing: border-box;
  }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background:  #008080;
  overflow: hidden;
}
</style>
</head>
<body >
<!-- <img src="{%static 'images/loader.gif' %}" class="gif"> -->
<div id="pageloadcontainer">
	<span class="pageloadbrand">
	<img src="{% static 'images/rmailLogoConcept.svg' %}" width="35" alt="Agyavart Icon">
  </span>
  <div class="pageloaddivider" aria-hidden="true"></div>
  <p class="loading-text" aria-label="Loading">
    <span class="letter L" aria-hidden="true">L</span>
    <span class="letter" aria-hidden="true">o</span>
    <span class="letter" aria-hidden="true">a</span>
    <span class="letter" aria-hidden="true">d</span>
    <span class="letter" aria-hidden="true">i</span>
    <span class="letter" aria-hidden="true">n</span>
    <span class="letter" aria-hidden="true">g</span>
  </p>
</div>
<br>
<div class="bottom">
  Agyavart
  </div>
</div>
</body>
</html>