{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{%static 'styles/loader.css' %}">
	  
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name=”description” content="Building a world of anonymity, yet closer together. Join our community now!">
<meta property="og:title" content="Agyavart">
<meta property="og:type" content="Social Platform">
<meta property="og:url" content="https://rajathandsom.pythonanywhere.com/">
<meta property="og:description" content="Building a world of anonymity, yet closer together. Join our community now!">
<meta property="og:image" content="https://rajathandsom.pythonanywhere.com/static/images/hero_bg_1.jpg">
<meta name="favicon" content="https://rajathandsom.pythonanywhere.com/static/images/rmailLogoConcept.png">
<meta name="twitter:card" content="https://rajathandsom.pythonanywhere.com/static/images/hero_bg_1.jpg">
<meta name="linkedin:card" content="https://rajathandsom.pythonanywhere.com/static/images/hero_bg_1.jpg">
<title>Agyavart</title>
<script type="text/javascript">
</script>
</head>
<body >
<!-- <img src="{%static 'images/loader.gif' %}" class="gif"> -->
<div id="container">
	<span class="brand">
	<img src="{% static 'images/rmailLogoConcept.svg' %}" width="35" alt="Agyavart Icon">
  </span>
  <div class="divider" aria-hidden="true"></div>
  <p class="loading-text" aria-label="Loading">
    <span class="letter L" aria-hidden="true">L</span>
    <span class="letter" aria-hidden="true">o</span>
    <span class="letter" aria-hidden="true">a</span>
    <span class="letter" aria-hidden="true">d</span>
    <span class="letter" aria-hidden="true">i</span>
    <span class="letter" aria-hidden="true">n</span>
    <span class="letter" aria-hidden="true">g</span>
  </p>
</div>
<br>
<div class="bottom">
  Agyavart
  </div>
</div>
</body>
</html>