{%extends 'rmail.html' %}
{% load static %}
{%block temp %}
<head>
  <title>Login</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/styles/fmt.css">
<link rel="stylesheet" href="/static/styles/main_setup.css">
<meta name="theme-color" content="#498dcc">
</head>
{%endblock %}

{% block content %}
<div class="alert alert-info" id="modalinfo" style="display: none; margin-top: 100px;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Info!</strong> {{info }}
</div>
<div id="error" class="fmt-animate-bottom" style="display: none; margin-top:100px;padding:0 42px 0 42px">
<div class="alert alert-danger alert-dismissible fade show" style="padding:22px">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><h1 class="fmt-center" style="font-size:36px ; color:#b85b5b">{{ title}}</h1></strong>
          <br/>
          <ol>
          {% for i in warning %}
          <li style="font-size:28px;color:#b85b5b">{{i}}</li>
          {% endfor %}

</div>
</div>
<center>
 <div class="fmt-animate-top" style="margin-top: 80px;">
   <p class="sub-catch-line">Welcome Back.</p>
  </div>
</center>
<div class="fmt-col m6 loginbox">
  <div class="work-box fmt-animate-bottom">
    <form action="auth" method = "post">
      {% csrf_token %}
      <label class="input-label fmt-animate-left" for="email">Your username.</label>
      <input class="edit-text-box fmt-animate-right" type="text" id="email" name="username" value = "{{username}}" required>
      <br /><br /><br />
      <label class="input-label fmt-animate-left" for="pass">Secret passphrase.</label>
      <input class="edit-text-box fmt-animate-right" type="password" id="pass" name ="password" required>
      <br /><br /><br />
      <div class="fmt-row">
        <div class="fmt-col m5">
          <button type="submit" class="fmt-left button-block-sec fmt-animate-left">Let's go</button>
        </div>
        <div class="fmt-col m7 fmt-animate-right">
          <a href="#" data-toggle="modal" data-target="#myModal" style="margin-top:12px" class="fmt-right button-tab">Any problem?</a>
        </div>
      </div>
      <br />
    </form>
  </div>
  <br/>
  <div class="fmt-center">
    <span class="normal-body-text fmt-animate-left">You new here?</span>
    <a href="signup.html"><span class="button-normal-body fmt-animate-right">Join us</span></a>
  </div>
</div>


<!-- Forgot password section -->
<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Help Dialogue</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <!-- tab group start -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'fpassword')">Forgot Password</button>
  <button class="tablinks" onclick="openCity(event, 'funame')">Forgot Username</button>
</div>

<div id="fpassword" class="tabcontent">
  <form method="post" action="fpass">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control" name="fuser" placeholder="Username" required>
  </div>
   <div class="form-group">
    <input type="text" class="form-control" name="fmob" placeholder="Mobile number" required>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="newpwd" placeholder="New Password" required>
  </div>
  <button type="submit" class="btn btn-block btn-primary">Submit</button>
</form>
</div>

<div id="funame" class="tabcontent">
  <form method="post" action="fuser">
    {% csrf_token %}
   <div class="form-group">
    <input type="text" class="form-control" name="mobile" placeholder="Mobile number" required>
  </div>
  <button type="submit" class="btn btn-block btn-success">Submit</button>
</div>
</form>
</div>
        </div>
      </div>
      
    </div>
  </div>



<!--Java script section -->
<script type="text/javascript">
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

error = document.getElementById("error");

ifo = document.getElementById('modalinfo');
ifo.style.display = 'none';

{% if info %}
ifo.style.display = 'block';
{% endif %}


  {% if warning %}
  error.style.display ='block';
  {% endif %}

function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}


//ajax script
/*
function forgotpassword(){
    var fmob1=document.getElementById('fmob').value;
    var fuser1=document.getElementById('fuser').value;
    var fnpass1=document.getElementById('newpwd').value;
    var xhttp1 = new XMLHttpRequest();
    xhttp1.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
        document.getElementById("modalinfo").style.display = 'block';
        }
    };

    xhttp1.open("POST", "fpass", true);
    xhttp1.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp1.send(`fmob1=${fmob1}&fuser1=${fuser1}&fpass1=${fnpass1}`);
}
*/
</script>




{% endblock %}
