{%extends 'rmail.html' %}
{% load static %}
{%block temp %}
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/mail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
</head>
{%endblock %}

{% block content %}
<center>
 <div class="tite" style="margin-top: 100px;">
 <h2>LOGIN</h2></div>
 </center>
   <div class="container1">
   
       <form method="post" action='auth'>
        {% csrf_token %}
      
          <div class="form-input">
             <input type="text" name="username" placeholder="Username" autofocus>
             </div>
          <div class="form-input">
             <input type="password" name="password" class="naved" placeholder="Password">
             </div>
          <input type="submit" name="submit" value="LOGIN" class="btn-login"></a>
          <br>
              <a href="#" class="forget">FORGOT PASSWORD?</a>
             </form>
             </div>

            

{% endblock %}