{% extends 'profile.html' %}

{% load static %}

  {% block title %}

  <head>
  <title>Message</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/mesage.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost" rel="stylesheet">
<style type="text/css">
</style>
  {% endblock %}


 <!--side Navbar -->
{% block sidenav %}
<div id="sidenav" class="bar fmt-shadow" style="background-color: #0a14507e;">
  <div class="navhead">
  <a href="profile.html" class="button-chip" onclick="myFunction()">PROFILE</a>
  <a href="message.html" class="active button-chip" onclick="myFunction()">SENT MESSAGE</a>
  <a href="recieve.html" class="button-chip" onclick="myFunction()">RECIEVED MESSAGE</a>
  <a href ="alluser.html" class="button-chip" onclick="myFunction()" >VIEW ALL USERS</a>
  <a href="setting.html" class="button-chip" onclick="myFunction()">SETTINGS</a>
  <a href="logout.html" class="spcl button-chip"  onclick="myFunction()">LOGOUT</a>
  </div>
  </div>
{% endblock %}


{% block content %}
<div class="maincontent">
<div class ="leftpane" id="leftpane"> 

<nav class="navbar navbar-light bg-light" style="margin-top:0px; padding: 10px;height:80px; width: 100%;">
<a href="message.html"><i class="fa fa-rotate-left" style="font-size:36px;color:#333;" onclick="rotate(this)"></i></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search(available soon)" style="width: 150px;margin-right: 5px" disabled>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled>Search</button>
  </form>
</nav>
<div id="messagecon">
<ul>
{% if warning %}
<h2 style="margin:0px auto"> No message yet </h2>
{% else %}
{% for i in data %}
<li onclick="showmessage('{{i.name}}','{{i.photo}}','{{i.recipient}}','{{i.message}}','{{i.time}}')">
<a><img src="{{ i.photo }}">
<h3><strong>{{ i.name }}</strong></h3>
<article style="margin-bottom: 20px;"><strong style="color: #333">Message:&nbsp;&nbsp;</strong>{{ i.message }}</article>
</a>
</li>
{% endfor %}

{% endif %}
</ul>
</div>
</div>
<div class = "rightpane" id="responce">
  <b>
 <h2 class="display-3 " style="color: #EC7063 ;">Click on any message to view it</h2>
</b>
</div>
</div>
<script>
function showmessage(name,photo,username,message,time)
{ if(screen.width<=991)
  { left = document.getElementById("leftpane");
    right = document.getElementById("responce");
    left.style.display = "none";
    right.style.display = "block";
  }

	var user = username;
	var msg = message;
	var timestamp = time;
  var url = "user="+user+"&msg="+msg+"&time="+timestamp+"&name="+name+"&photo="+photo+"&csrfmiddlewaretoken="+"{{csrf_token}}";
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
    			document.getElementById("responce").innerHTML = this.responseText;
    }
  };
  xhttp.open("POST","viewsent/", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send(url);
}

 function hiderightpane(){

    left = document.getElementById("leftpane");
    right = document.getElementById("responce");
    left.style.display = "block";
    right.style.display = "none";
  
}

function rotate(id) {
  id.classList.toggle("roate");


  
}

// function bulao(){
// setInterval(function(){ 

//   var xhttp = new XMLHttpRequest();
//   xhttp.onreadystatechange = function() {
//     if (this.readyState == 4 && this.status == 200) {
//         location.reload();
//   }
//   };
//   xhttp.open("GET","message", true);
//   xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
//   xhttp.send();
 

// }, 3000);
// }
</script>

{%endblock %}
