{% extends 'profile.html' %}

{% load static %}

  {% block title %}

  <head>
  <title>Message</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/mesage.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% endblock %}


 <!--side Navbar -->
{% block sidenav %}
<div id="sidenav" class="bar">
<div class="navhead">
<a href="profile.html" onclick="myFunction()">PROFILE</a>
<a href="message.html" onclick="myFunction()" >SENT MESSAGE</a>
<a href="recieve.html" class="active" onclick="myFunction()">RECIEVED MESSAGE</a>
<a href ="alluser.html" onclick="myFunction()" >VIEW ALL USERS</a>
<a href="setting.html" onclick="myFunction()">SETTINGS</a>
<a href="logout.html" class="spcl" onclick="myFunction()">LOGOUT</a>
</div>
</div>
{% endblock %}


{% block content %}
<div class="maincontent">
<div class ="leftpane" id="leftpane"> 
<nav class="navbar navbar-light bg-light" style="margin-top:0px; padding: 10px;height:80px; width: 100%;">
<a href="recieve.html"><i class="fa fa-rotate-left" style="font-size:36px;color:#333;"></i></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search(available soon)" aria-label="Search" style="width: 150px;margin-right: 5px">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled>Search</button>
  </form>
</nav>
<ul>
{% if warning %}

<h2 style="margin:0px auto"> No message yet </h2>
{% else %}
{% for i in data %}
<li onclick="showmessage('{{i.photo}}','{{i.message}}','{{i.time}}')">
<a><img src="{{ i.photo }}">
<h3><strong>Someone</strong></h3>
<article style="margin-bottom: 20px;"><strong style="color: #333">Message:&nbsp;&nbsp;</strong>{{ i.message }}</article>
</a>
</li>
{% endfor %}

{% endif %}
</ul>
</div>
<div class = "rightpane" id="responce">
  <b>
 <h2 class="display-3 " style="color: #EC7063 ;">Click on any message to view it</h2></b></
</div>
</div>
<script>
function showmessage(photo,message,time)
{ if(screen.width<=991)
  { left = document.getElementById("leftpane");
    right = document.getElementById("responce");
    left.style.display = "none";
    right.style.display = "block";
  }
  var msg = message;
  var timestamp = time;
  var url = "msg="+msg+"&time="+timestamp+"&photo="+photo+"&csrfmiddlewaretoken="+"{{csrf_token}}";
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
          document.getElementById("responce").innerHTML = this.responseText;
    }
  };
  xhttp.open("POST","viewsent/", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send(url);
}

 function hiderightpane(){

    left = document.getElementById("leftpane");
    right = document.getElementById("responce");
    left.style.display = "block";
    right.style.display = "none";
  
}

</script>

{%endblock %}