{%load static %}
<!doctype html>
<html>
<head>
<title>
Agyavart
</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles/rmail.css' %}">
<meta content=’width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0′ name=’viewport’ />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="download.png">
</head>
<body>
<header>
<h1><a href="rmail.html">RMAIL</a></h1>
<a href="login.html" class="login">SIGN IN</a>
<a href="signup.html" class="logon">CREATE AN ACCOUNT</a>
</header>
<div class="text">
<p>
The ease & simplicity of Rmail, available across devices</p>
<a href="signup.html" class="log">CREATE AN ACCOUNT</a>
</div>
<a href="login.html" class="log1">LOGIN</a>
</body>
</html>