{% extends 'profile.html' %}

{% load static %}

<!DOCTYPE html>
<html>
<head>

  {% block title %}
  <title>Settings</title>

  <!-- CSS only -->
<link rel="icon" href="{% static 'images/rmailLogoConcept.svg' %}">
<meta content=’width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0′ name=’viewport’ />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static '/styles/profile.css' %}">
<link rel="stylesheet" href="/static/styles/fmt.css">
<link rel="stylesheet" href="/static/styles/main_setup.css">
<link rel="stylesheet" href="/static/styles/side_nav.css">
<style type="text/css">
  /* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 70%;
  margin-top:50px;
  font-family: Arial;
  color: blue;
}

label{
  color: black;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  height: 70px;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
h2{
  text-align: center;
}

#Home {background-color: white;}
#News {background-color: white;}
#Contact {background-color: white;}
#About {background-color: white;}
</style>
</head>
{% endblock %}
<!-- <side Navbar---! -->
{% block sidenav %}
<div id="sidenav" class="bar">
<div class="navhead">
<div id="cross">&times;</div>
<a href="profile.html" >PROFILE</a>
<a href="msg.html">MESSAGE</a>
<a href="setting.html" class="active">SETTINGS</a>
<a href="#" class="spcl">SEARCH</a>
<a href="logout.html" class="spcl">LOGOUT</a>
</div>
</div>
{% endblock %} 


{% block content %}
<div id="error" style="display: none; margin-top:100px;"> 
<div class="alert alert-danger alert-dismissible fade show" >
          <a href="#" class="close" id="close" onclick="gayaalert()">&times;</a>
          <strong><h2 id ="errormsg"></h2></strong>

  </div>
</div>


<div>
<center><h2>USER SETTINGS</h2></center>
</div>
<button class="tablink" onclick="openPage('Home', this, 'black')" id="defaultOpen">Update basic info</button>
<button class="tablink" onclick="openPage('News', this, 'black')" >Update Education Qualifications</button>
<button class="tablink" onclick="openPage('Contact', this, 'black')">Update Contact Details</button>
<button class="tablink" onclick="openPage('About', this, 'black')">Security Settings</button>

<div id="Home" class="tabcontent">
  <div class="tite" >
</div>
<div class="container center_div">
  <div class="content_center">
<form method="POST" action="detupt">
  {% csrf_token %}
  <h5>
  <div class="form-group col-md-8">
    <label>Update Name</label>
    <input type="text" class="form-control" id="inputName" value="{{Name}}" placeholder="Enter the Name" name="newNAME" required>
  </div>
    <div class="form-group col-md-8">
      <label>Update Email</label>
      <input type="email" class="form-control" id="inputEmail4" value="{{Email}}" placeholder="Enter the Email" name="newEMAIL" required>
    </div>
    <div class="form-group col-md-8">
      <label>Update Mobile</label>
      <input type="text" class="form-control" id="inputUserame4" value ="{{Mobile}}" placeholder="Enter the Mobile Number" name="newMOBILE" required>
    </div>
    </div>

  <center><button type="submit" class="btn btn-outline-dark" style="width: 31%; ">UPDATE</button></center>

</h5>
</form>
</div>
</div>
</div>

<div id="News" class="tabcontent">
  <div class="container center_div">
  <div class="content_center">
<form method="POST" action="detupt">
  {% csrf_token %}
  <h5>
    <div class="form-group col-md-8">
      <label>School</label>
      <input type="text" class="form-control" id="school" value="{{school}}" placeholder="Enter the School Name" name="newSCHOOL" required>
    </div>
  <div class="form-group col-md-8">
    <label>College</label>
    <input type="text" class="form-control" id="college" value="{{college}}" placeholder="Enter the College Name" name="newCOLLEGE" required>
  </div>
  <div class="form-group col-md-8">
      <label>Highest Qualification</label>
      <input type="text" class="form-control" id="school" value="{{higher}}" placeholder="Enter the Highest Qualification" name="newHIGHER" required>
    </div>
  <center><button type="submit" class="btn btn-outline-dark" style="width: 31%; ">UPDATE</button></center>

</h5>
</form>
</div>
</div>
</div>
</div>

<div id="Contact" class="tabcontent">
  <div class="container center_div">
  <div class="content_center">
<form method="POST" action="detupt">
  {% csrf_token %}
  <h5>
    <div class="form-group col-md-8">
      <label>Update Facebook Id</label>
      <div class="input-group mb-3">
      <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://facebook.com/</span>
  </div>
      <input type="text" class="form-control" id="fb_id" value="{{fb}}" placeholder="Enter the Id" name="newFB" required>
    </div>
  </div>
  <div class="form-group col-md-8">
    <label>Update Instagram Id</label>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://instagram.com/</span>
  </div>
    <input type="text" class="form-control" id="insta_id" value="{{insta}}" placeholder="Enter the Id" name="newINSTA" required>
  </div>
  </div>
    <div class="form-group col-md-8">
      <label>Update Twitter Id</label>
      <div class="input-group mb-3">
      <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">https://twitter.com/</span>
  </div>
      <input type="text" class="form-control" id="Twitter_id" value="{{twitter}}" placeholder="Enter the Id" name="newTWITTER" required>
    </div>
    </div>
    </div>
      <div class="form-group col-md-8">
    <label>Update Ticktok Id</label>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">@</span>
  </div>
    <input type="text" class="form-control" id="tictok_id" value="{{tok}}" placeholder="Enter the Id" name="newTOK" required>
  </div>
  <center><button type="submit" class="btn btn-outline-dark" style="width: 31%; ">UPDATE</button></center>

</h5>
</form>
</div>
</div>
</div>
</div>

<div id="About" class="tabcontent">
  <div class="container center_div">
  <div class="content_center">
  <h5>
    <div class="form-group col-md-8">
      
    <div class="form-group col-md-8">
      <label>Change Password</label>
      <input type="password" class="form-control" id="curpassword" placeholder="Enter current Password" name="curpassword" required>
      <br>
      <input type="password" class="form-control" id="newpassword" placeholder="Enter new Password" name="newpassword" required>
      <br>
      <input type="password" class="form-control" id="conpassword" placeholder="Confirm new Password" name="conpassword" required>
    </div>

  <center><button type="" class="btn btn-outline-dark" style="width: 25%;" onclick="changepass()">CHANGE PASSWORD</button></center>
<center><h2 style="font-family: cursive; color: black;">OR</h2></center>

 
  
    <!-- <button type="button" class="btn btn-danger" style="  position : absolute; width:100%; left: 50%;">Delete My Account</button> -->
    <center><button type="" class="btn btn-danger" style="width: 25%; margin-top: 5px;">Delete My Account</button></center>
  </div>
</div>

</div>
  
</div>


<script type="text/javascript">

function gayaalert(){
  document.getElementById("error").style.display="none";
}

function rajat(val){
  alert(val);
  document.getElementById("error").style.display = "block";
  document.getElementById("errormsg").innerHTML = val;
  document.getElementById('curpassword').value ="";
  document.getElementById('newpassword').value = "";
  document.getElementById('conpassword').value = "";

}

function changepass () {
  
  curpass = document.getElementById('curpassword').value;
  newpass = document.getElementById('newpassword').value;
  conpass = document.getElementById('conpassword').value;

  var url = "/changepass?curpassword="+curpass+"&newpassword="+newpass+"&conpassword="+conpass;

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {

             rajat(this.responseText);

    }
  };
  xhttp.open("GET", url, true);
  xhttp.send();  
}

document.getElementById("defaultOpen").click();
function openNav() {
  document.getElementById("sidenav").classList.toggle("change")
}
function openPage(pageName, elmnt, color) {
  // Hide all elements with class="tabcontent" by default */
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Remove the background color of all tablinks/buttons
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }

  // Show the specific tab content
  document.getElementById(pageName).style.display = "block";

  // Add the specific color to the button used to open the tab content
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script> 
{% endblock %}