{% extends 'rmail.html' %}
{% load static %}

{% block temp %}
<head>
	<title>Sign Up | Agyavart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="theme-color" content="#498dcc">
  <link rel="stylesheet" href="{% static 'styles/fmt.css' %}">
  <link rel="stylesheet" href="{% static 'styles/mainsetup.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Jost" rel="stylesheet">
  <meta name="theme-color" content="#498dcc">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/register.css' %}">
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>
{% endblock %}

{% block content %}

<div id="error" class="fmt-animate-bottom" style="display: none; margin-top:100px;padding:0 42px 0 42px">
  <div class="alert alert-danger alert-dismissible fade show" style="padding:22px"> 
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><h1 class="fmt-center" style="font-size:36px ; color:#b85b5b">Warning</h1></strong>
      <ol>
        {% for i in warning %}
        <li style="font-size:28px;color:#b85b5b">{{i}}</li>
        {% endfor %}
      </ol>
  </div>
</div>

<div class="main-w3layouts wrapper">
  <center>
    <div class="fmt-animate-top" style="margin-top: 80px;">
      <p class="sub-catch-line">Let's start. From beginning.</p>
    </div>
  </center>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form method="POST" action="register" onsubmit="checkform()">
        {% csrf_token %}
        <a href="#" data-toggle="tooltip" data-placement="top" title="Username must be 4 character long">
        <input type="text" class="text text-light" id="inputUserame4" placeholder="Username" value="{{USERNAME}}" name="USERNAME" required>
        </a>
        <br>
        <a href="#" data-toggle="tooltip" data-placement="top" title="Password must be 8 character long">
        <input type="password" class="text text-light" id="inputPassword4" placeholder="Password" name="password" required>
        </a>
        <br>
        <a href="#" data-toggle="tooltip" data-placement="top" title="Name must contains alphabets only">
        <input type="text" class="text text-light" id="inputName" value="{{NAME}}" placeholder="Name" name="NAME" required>
        </a>
        <br>
        <input type="email" class="text text-light" id="inputEmail4" value="{{EMAIL}}" placeholder="Email" name="EMAIL" required><br>
        <a href="#" data-toggle="tooltip" data-placement="top" title="Phone number should be 10 digit only">
        <input type="text" class="text text-light" id="inputMobile" value ="{{MOBILE}}" placeholder="Phone Number" name="MOBILE" required>
        </a>
        <br>
        <div>
          <select type="text" class="text" id="inputGender" name="GENDER" value="{{GENDER}}" required>
            <option class="text" value="Gender" style="background-color: rgba(0,0,0,0.75);">Choose Gender</option>
            <option value="MALE" style="background-color: rgba(0,0,0,0.75);">Male</option>
            <option value="FEMALE" style="background-color: rgba(0,0,0,0.75);">Female</option>
            <option value="OTHERS" style="background-color: rgba(0,0,0,0.75);">Others</option>
          </select>
        </div>
        <br>
        <input type="date" name="DOB" id="inputDOB" class ="text" required>
        <br>
        <center>
          <button type="submit" class="btn btn-outline-dark text-light" id="signupbutton" value="SIGNUP" style="width: 70%; border-color: white;">
            Sign Up
          </button>
        </center>
      </form>
    </div>
  </div>
</div>



<script type="text/javascript">
function checkform()
{
  if(document.getElementById("inputUserame4").value=="" ||document.getElementById("inputPassword4").value=="" ||document.getElementById("inputName").value=="" ||document.getElementById("inputEmail4").value=="" ||document.getElementById("inputMobile").value=="" ||document.getElementById("inputDOB").value=="" || document.getElementById("inputGender").value=="Gender")
  {
      var g;
      
  }

  else{    document.getElementById("signupbutton").disabled =true;
    
  }
}
 
  
  $(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});

error = document.getElementById("error");


  {% if warning %}
  error.style.display ='block';
  {% endif %}

</script>
{% endblock %}
</html>