{% extends 'rmail.html' %}
{% load static %}

{% block temp %}
<head>
	<title>Sign Up</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'styles/register.css' %}">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

</head>
{% endblock %}

{% block content %}

<div id="error" style="display: none; margin-top:100px;">
<div class="alert alert-danger alert-dismissible fade show" >
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><h1>Warning!</h1></strong>
          <ol>
          {% for i in warning %}
          <li>{{i}}</li>
          {% endfor %}

</div>
</div>

  <div class="main-w3layouts wrapper">
  <h1>SIGN UP</h1>
    <div class="main-agileinfo">
      <div class="agileits-top">
        <form method="POST" action="register" onsubmit="checkform()">
        {% csrf_token %}
            <a href="#" data-toggle="tooltip" data-placement="top" title="Username must be 4 character long">
            <input type="text" class="text text-light" id="inputUserame4" placeholder="Username" value="{{USERNAME}}" name="USERNAME" required><br>
            </a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Password must be 8 character long">
            <input type="password" class="text text-light" id="inputPassword4" placeholder="Password" name="password" required><br>
            </a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Name must contains alphabets only">
            <input type="text" class="text text-light" id="inputName" value="{{NAME}}" placeholder="Name" name="NAME" required><br>
          </a>
            <input type="email" class="text text-light" id="inputEmail4" value="{{EMAIL}}" placeholder="Email" name="EMAIL" required><br>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Phone number should be 10 digit only">
            <input type="text" class="text text-light" id="inputMobile" value ="{{MOBILE}}" placeholder="Phone Number" name="MOBILE" required><br>
            </a>
          <div>
        	 <select type="text" class="text text-light bg-dark" id="inputGender" name="GENDER" value="{{GENDER}}" required>
           		<option class="text" value="Gender">Choose Gender</option>
              <option value="MALE">Male</option>
              <option value="FEMALE">Female</option>
              <option value="OTHERS">Others</option>
            </select>
          </div>
             <br> <input type="date" name="DOB" id="inputDOB" class ="text" required><br>
            

        <center><button type="submit" class="btn btn-outline-dark text-light" id="signupbutton" value="SIGNUP" style="width: 70%; border-color: white;">Sign Up</button></center>
        </form>
        </div>
        </div>
      </div>



<script type="text/javascript">
function checkform()
{
  if(document.getElementById("inputUserame4").value=="" ||document.getElementById("inputPassword4").value=="" ||document.getElementById("inputName").value=="" ||document.getElementById("inputEmail4").value=="" ||document.getElementById("inputMobile").value=="" ||document.getElementById("inputDOB").value=="" || document.getElementById("inputGender").value=="Gender")
  {
      var g;
      
  }

  else{    document.getElementById("signupbutton").disabled =true;
    
  }
}
 
  
  $(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});

error = document.getElementById("error");


  {% if warning %}
  error.style.display ='block';
  {% endif %}

</script>
{% endblock %}
</html>