{% extends 'profile.html' %}
{% load static %}

{% block temp %}
<head>
	<title>General settings</title>
  <link rel="stylesheet" href="/static/styles/fmt.css">
<link rel="stylesheet" href="/static/styles/main_setup.css">
<link rel="stylesheet" href="/static/styles/side_nav.css">
  {% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/signup.css' %}">
</head>

<!--side Navbar -->
{% block sidenav %}
<div id="sidenav" class="bar">
<div class="navhead">
<div id="cross">&times;</div>
<a href="profile.html">PROFILE</a>
<a href="msg.html">MESSAGE</a>
<a href="settings.html" class="active">SETTINGS</a>
<a href="#" class="spcl">SEARCH</a>
<a href="logout.html" class="spcl">LOGOUT</a>
</div>
</div>
{% endblock %}


{% block content %}

<div id="error" style="display: none; margin-top:100px;">
<div class="alert alert-danger alert-dismissible fade show" >
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><h1>Warning!</h1></strong>
          <ol>
          {% for i in warning %}
          <li>{{i}}</li>
          {% endfor %}

</div>
</div>

 <div class="tite" style="margin-top: 100px;">
  <center>
 <h1>UPDATE INFO</h1>
</center>
</div>
<div class="container center_div">
	<div class="content_center">
<form method="POST" action="">
  {% csrf_token %}
  <h5>
    <div class="form-group col-md-8">
      <label>Update Username</label>
      <input type="text" class="form-control" id="inputUserame4" placeholder="Enter the Username" name="USERNAME" required>
    </div>
  <div class="form-group col-md-8">
    <label>Update Name</label>
    <input type="text" class="form-control" id="inputName" placeholder="Enter the Name" name="NAME" required>
  </div>
    <div class="form-group col-md-8">
      <label>Update Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Enter the Email" name="EMAIL" required>
    </div>
    </div>

  <center><button type="submit" class="btn btn-outline-dark" style="width: 20%;">UPDATE</button></center>

</h5>
</form>
</div>
</div>

<script type="text/javascript">

error = document.getElementById("error");


  {% if warning %}
  error.style.display ='block';
  {% endif %}

</script>
{% endblock %}
</html>