{% load static %}

<!DOCTYPE html>
<html>
<head>
  {% block title %}
	<title>{{title }}</title>
  {% endblock %}
	<!-- CSS only -->
<link rel="icon" href="{% static 'images/rmailLogoConcept.svg' %}">
<meta content=’width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0′ name=’viewport’ />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static '/styles/profile.css' %}">
<link rel="stylesheet" href="/static/styles/fmt.css">
<link rel="stylesheet" href="/static/styles/main_setup.css">
<link rel="stylesheet" href="/static/styles/side_nav.css">
</head>
<body>
<!--top nav bar -->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
	<img src="{% static 'images/graphic.png' %}" class ="imag" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-right: 10px; cursor: pointer;" onclick="openNav()">
   <a class="navbar-brand" href="rmail.html" style="font-size: 30px;">
    <img src="{% static 'images/rmailLogoConcept.svg' %}" width="25" class="align-top" alt="Rmail Logo">
    gyavart
  </a>
  
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> </a>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="nav nav-pills" >
    <li class="nav-item">
      {%if is_loged %}
      <a class="nav-link" href="#fat"><img src="{%static 'images/plus.png' %}" width="35" height="30" class=" align-top slow" onclick="yoyo()" style="margin-right: 10px; cursor: pointer;" data-toggle="modal" data-target="#messageModal"><button class="btn btn-secondary hide" data-toggle="modal" data-target="#messageModal" onclick="yoyo()" >Send new message </button> </a>
      {% endif %}
    </li>
  </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search(available soon)" disabled>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled>Search</button>
    </form>
  </div>
</nav>


<!-- msg modal -->

<div class="modal fade" id="messageModal" style="display: none;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog .modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" onclick="revyoyo()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="dabba" style="display: none; z-index: 10;"> 
      <div class="alert alert-danger alert-dismissible fade show" >
          <a href="#" class="close" id="close" onclick="gayaalertmsg()">&times;</a>
          <strong><h4 id ="dabbaerrormsg"></h4></strong> 
        </div>
      </div>
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient" name="recipient" value="">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text" rows="6" name="message"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="revyoyo()">Close</button>
        <button type="submit" class="btn btn-primary" onclick="bhejnahai()">Send message</button>
      </div>
    </div>
  </div>
</div>

<!--side Navbar -->
{% block sidenav %}

<div id="sidenav" class="bar">
<div class="navhead">
{% if is_loged %}
<a href="/profile.html">PROFILE</a>
<a href="/message.html" >SENT MESSAGE</a>
<a href="/recieve.html" >RECIEVED MESSAGE</a>
<a href="/setting.html">SETTINGS</a>
<a href="/logout.html" class="spcl">LOGOUT</a>
{% else %}
<a href="/rmail.html">HOME</a>
<a href="/login.html">LOGIN</a>
<a href="/signup.html" >SIGNUP</a>
{% endif %}
</div>
</div>
{% endblock %}


{% if warning %}

<div class="alert alert-success" role="alert" style="margin:0px auto;margin-top:100px; width:90%;">
  <h4 class="alert-heading">Error 404</h4>
  <p>Sorry the user you are looking for is not present.</p>
  {% if not is_loged %}
  <hr>
  <p class="mb-0"><a href="/rmail.com">Return Home</a></p>
  {% endif %}
</div>
 
{%else %}
{% block content %}
<div class="cover">
	<img src="{{curl}}" width="100%" height ="250px" alt="">
</div>
<div class = "content">
	<div class= "dp">
		<img src="{{durl}}" class="dpimg" >
  </div>
	<div class="name">
		<h1>{{Name }}</h1>
    <h3>@{{ username}}</h3>
	</div>
</div>

	<div class="secondname">
		<h1>{{Name }}</h1>
    <h3>@{{ username}}</h3>	</div>


<button class="tablink" onclick="openPage('Home', this, '#5DADE2 ')" id="defaultOpen">Basic Details</button>
<button class="tablink" onclick="openPage('News', this, '#5DADE2 ')">Educational Details</button>
<button class="tablink" onclick="openPage('Contact', this, '#5DADE2 ')">Contact Details</button>
<button class="tablink" onclick="openPage('About', this, '#5DADE2 ')">Feature Photos</button>
<div id="Home" class="tabcontent">
	<center>
<table class="table table-borderless">
  <tbody>
    <tr>
      <td ><i class="fa fa-user-circle-o" style="font-size:20px"></i>&nbsp;&nbsp;<strong>Name</strong></td>
      <td>{{ Name }}</td>
    </tr>
    <tr>
      <td><i class="fa fa-envelope" style="font-size:20px"></i>&nbsp;&nbsp;<strong>Email</strong></td>
      <td>{{ Email }}</td>
    </tr>
    <tr>

      <td><i class="fa fa-id-card-o" style="font-size:20px"></i>&nbsp;&nbsp;<strong>Date of Birth</strong></td>
      <td>{{ DOB }}</td>
    </tr>
    <tr>
      <td><i class="fa fa-group" style="font-size:20px"></i>&nbsp;&nbsp;<strong>Gender</strong></td>
      <td>{{ Gender }}</td>
    </tr>
  </tbody>
</table>
</center>
</div>

<div id="News" class="tabcontent">
	<center>
<table class="table table-borderless">
  <tbody>
    <tr>
      <td ><i class="fa fa-pencil" style="font-size:20px"></i>&nbsp;&nbsp;<strong>School</strong></td>
      <td>{{school }}</td>
    </tr>
    <tr>
      <td><i class="fa fa-graduation-cap" style="font-size:20px"></i>&nbsp;&nbsp;<strong>College</strong></td>
      <td>{{college }}</td>
    </tr>
        <tr>
      <td><i class="fa fa-institution" style="font-size:20px;"></i>&nbsp;&nbsp;<strong>Higher Education</strong></td>
      <td>{{higher }}</td>
    </tr>
  </tbody>
</table>
</center>
</div>

<div id="Contact" class="tabcontent">
	<center>
<table class="table table-borderless">
  <tbody>
    <tr>
      <td ><i class="fa fa-facebook-official" style="font-size:20px;color:rgb(59,89,152);"></i><strong>&nbsp;&nbsp;Facebook</strong> </td>
      <td><a href="https://www.facebook.com/{{fb}}">https://www.facebook.com/{{fb}}</a></td>
    </tr>
    <tr>
      <td><i class="fa fa-instagram" style="font-size:20px;color:#3f729b;"></i>&nbsp;&nbsp;<strong>Instagram</strong></td>
      <td><a href=" https://www.instagram.com/{{insta}}"> https://www.instagram.com/{{insta}}</a></td>
    </tr>
        <tr>
      <td><i class="fa fa-twitter" style="font-size:20px;color:#38A1F3;"></i><strong>&nbsp;&nbsp;Twitter</strong></td>
      <td><a href="https://www.twitter.com/{{twitter}}">https://www.twitter.com/{{twitter}}</td>
    </tr>
        <tr>
      <td><strong>Tik Tok</strong></td>
      <td>@{{tok}}</td>
    </tr>
  </tbody>
</table>
</center></div>

<div id="About" class="tabcontent">
  <h3>About</h3>
  <p>Who we are and what we do.</p>
</div>


<script type="text/javascript">


$('#exampleModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it

</script>

{% endblock %}
{%endif %}

<script type="text/javascript">
  function yoyo()
  {
document.getElementById("messageModal").style.display="block";

}

function revyoyo()
{
  document.getElementById("messageModal").style.display="none";
  document.getElementById("recipient").value = "";
  document.getElementById("message-text").innerText = "";
  gayaalertmsg();

}

function gayaalertmsg(){
  document.getElementById("dabba").style.display="none";
  
}

function bhejnahai() {
  flag =1;
  kisko = document.getElementById('recipient').value;
  kisko = kisko.trim();
  sandhesa = document.getElementById('message-text').value;
  sandhesa = sandhesa.trim();
  if(kisko =="")
  {
   document.getElementById("dabba").style.display = "block";
   document.getElementById("dabbaerrormsg").innerHTML = "Please Fill a recipient"; 
   flag =0;
  }
  if(sandhesa=="")
  {
    document.getElementById("dabba").style.display = "block";
   document.getElementById("dabbaerrormsg").innerHTML = "Please input some text to send"; 
   flag = 0;
  }

  if(flag==1)
  {
  var url = "recipient="+kisko+"&message="+sandhesa+"&csrfmiddlewaretoken="+"{{csrf_token}}";
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {

    document.getElementById("dabba").style.display = "block";
    document.getElementById("dabbaerrormsg").innerHTML = this.responseText;
    }
  };
  xhttp.open("POST","newmsg/", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send(url);
}
  
}

document.getElementById("defaultOpen").click();
function openNav() {
  document.getElementById("sidenav").classList.toggle("change")
}
</script> 
</body>
</html>