<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>

</head>
<body>
<h1>{{ msg }}</h1>
<h1>{{ user }}</h1>
<h1>{{ pass }}</h1>
<h1>{{ error }}</h1>

<h1>Message sent success</h1>

{% if data is not None %}
{% for i in data %}
	
<li>
<a><img src="{{ DP }}">
<h3>{{ i['recipient'] }}</h3>
<article>{{ i['message'] }}</article>
</a>
</li>
{% endfor %}

{% else %}
<h3> No message yet </h3>

{% endif %}

<a href="login.html" class="title">LOGIN</a>
<a href="signup.html" class="logon">CREATE AN ACCOUNT</a>
</body>
</html>