@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);


.maincontent {
    margin-top:80px;
    padding:5px;
    height: 100%;    } 

.column {
    width: 80%;
    padding: 0 8px;
    height: 110px;
    margin-bottom: 10px;
}

/* Display the columns below each other instead of side by side on small screens */


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    height: 110px;
    padding:5px;
}


.heading{ font-size: 30px;
    color: black;
    font-family: Lato;
    position: absolute;
    top: 5px;
    left: 110px;
    display: inline-block;
    float: left;}

.heading1{ font-size: 20px;
    color: black;
    font-family: Lato;
    position: absolute;
    top: 40px;
    left: 110px;
    display: inline-block;
    float: left;}





 .card img{ cursor: pointer;
    width:100px;
    height:100px; 
    display: inline-block;
    float: left;
    border-radius: 100%;
    }


 @media (max-width: 991px) {
    .column {
        width: 100%;
        margin:0px;
        height: 150px;
        border-bottom: 1px solid #333;
        margin-bottom: 10px;
    
    }
    .card {
        height: 150px;
        padding-top:20px;
        margin-bottom: 10px;
    }


}
