html{
    scroll-behavior: smooth;
    position: relative;
    top:0;
    background-size: cover;
    background-repeat: no-repeat;
    bottom:0;
    left:0;
    right:0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:white;
}
a:focus{
    text-decoration: none;
}
.button-block{
    outline: none;
    border-radius: 6px;
    font-weight: normal;
    color:white;
    font-size: 24px;
    padding: 18px 36px 18px 36px;
    background-color: #7f22e9;
    transition: 0.5s ease;
}
.button-block:hover{
    font-size: 28px;
    color:white;
}
.button-block:focus{
    outline:none;
    background-color: #7f22e9a4;
    font-size: 26px;
}
.button-tab{
    background-color: #dedededd;
    color:black;
    border-radius:4px;
    margin:0px 8px 0px 4px;
    font-size: 22px;
    padding: 8px 18px 8px 18px;
    transition: 0.3s ease
}
.button-tab:hover{
    background-color: black;
    color: white;
    border-radius:8px;
    font-size: 24px
}
.button-tab:focus{
    background-color: white;
    color: black;
    font-size: 24px
}
.catch-line{
    font-size: 68px;
    font-weight: bold;
    color:white
}
.work-box{
    margin-top: 28px;
    background-color: #22426894;
    border-radius: 12px;
    border-width: 12px;
    padding: 32px;
}
.edit-text-box{
    width: 100%;
    font-size: 28px;
    border-radius: 8px;
    outline: none;
    border: #e1e1fd solid 2px;
    padding: 8px 16px 8px 16px;
}
.input-label{
    color: white;
    font-size: 22px;
}
/* width */
::-webkit-scrollbar {
    border-radius: 22px;
    width: 4px;
    transition: 3s;
  }

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2196f3;
    border-radius: 12px;
    transition: 3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white; 
    transition: 3s;
}
