html{
    scroll-behavior: smooth;
    position: relative;
    top:0;
    background-size: cover;
    background-repeat: no-repeat;
    bottom:0;
    left:0;
    right:0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:white;
}
a:focus{
    text-decoration: none;
}
.button-block{
    outline: none;
    border-radius: 6px;
    border-width: 0px;
    font-weight: normal;
    color:white;
    font-size: 24px;
    padding: 18px 36px 18px 36px;
    background-color: #4c069c;
    transition: 0.5s ease;
}
.button-block:hover{
    outline: none;
    font-size: 28px;
    color:white;
}
.button-block:focus{
    outline:none;
    background-color: #7f22e9a4;
    font-size: 26px;
}
.button-block-sec{
    outline: none;
    border-radius: 12px;
    border-width: 0px;
    font-weight: normal;
    color:white;
    font-size: 24px;
    padding: 14px 32px 14px 32px;
    background-color: #045c3e;
    transition: 0.5s ease;
}
.button-block-sec:hover{
    outline: none;
    background-color: #0a9969;
    box-shadow:0 8px 16px 0 #00000033,0 6px 20px 0 #00000030;
    font-size: 28px;
    color:white;
}
.button-block-sec:focus{
    outline:none;
    background-color: #02c9b8a4;
    font-size: 26px;
    box-shadow:0 0 0 0 #00000000;
}
.button-tab{
    background-color: #71189400;
    color:black;
    border-radius:4px;
    margin:0px 8px 0px 4px;
    font-size: 22px;
    padding: 8px 18px 8px 18px;
    transition: 0.3s ease
}
.button-tab:hover{
    background-color: #4c069cff;
    color: white;
    font-weight: normal;
    box-shadow:0 8px 16px 0 #00000033,0 6px 20px 0 #00000030;
    border-radius:18px;
    font-size: 24px
}
.button-tab:focus{
    background-color: #71189446;
    color: white;
    font-size: 20px;
    box-shadow:0 0 0 0 #00000000;
}
.button-chip{
    outline: none;
    border-radius: 96px;
    border-width: 0px;
    font-weight: normal;
    color:white;
    font-size: 22px;
    padding: 8px 22px 8px 22px;
    background-color: #4c069c;
    transition: 0.5s ease;
}
.button-chip:hover{
    padding: 8px 42px 8px 42px;
    background-color: #6206ca;
    box-shadow:0 8px 16px 0 #00000033,0 6px 20px 0 #00000030;
}
.button-chip:focus{
    padding: 8px 22px 8px 22px;
    background-color: #4c069c49;
    box-shadow:0 0 0 0 #00000000;
}
.button-normal-body{
    outline: none;
    border-radius: 6px;
    border-width: 0px;
    font-weight: normal;
    color:white;
    font-size: 22px;
    padding: 8px 22px 8px 22px;
    background-color: #4c069c;
    transition: 0.5s ease;
}
.button-normal-body:hover{
    font-size: 24px;
    background-color: #5e0abe;
    box-shadow:0 8px 16px 0 #00000033,0 6px 20px 0 #00000030;
}
.button-normal-body:focus{
    font-size: 20px;
    background-color: #4c069c88;
    box-shadow:0 0 0 0 #00000000;
}
.normal-body-text{
    font-size: 22px;
    color:black;
}
.small-btn{
    background-color: #c2a3e6a4;
    border-radius: 8px;
}
.catch-line{
    font-size: 72px;
    font-weight: bold;
    color:white
}
.sub-catch-line{
    font-size: 62px;
    color:#ffffff
}
.normal-text{
    font-size: 32px;
    color:#ffffff
}
.work-box{
    margin-top: 28px;
    background-color: #08a4ff41;
    border-radius: 12px;
    border-width: 12px;
    padding: 32px;
    transition: 0.3s ease;
}
.work-box:hover{
    background-color: #34a0df;
}
.edit-text-box{
    width: 100%;
    font-size: 28px;
    border-radius: 8px;
    outline: none;
    border: #e1e1fd solid 2px;
    padding: 8px 16px 8px 16px;
    transition: 0.2s ease;
}
.edit-text-box:focus{
    border-bottom: #27da71 solid 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    box-shadow:0 8px 16px 0 #00000033,0 6px 54px 0 #00000030;
}
.input-label{
    color: white;
    font-size: 22px;
}
/* width */
::-webkit-scrollbar {
    border-radius: 22px;
    width: 4px;
    transition: 3s;
  }

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2196f3;
    border-radius: 12px;
    transition: 3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white; 
    transition: 3s;
}
