	 
.maincontent {
	padding:0px;
	margin-top:70px;
	height: 100%;
	width: 100%;
}


.leftpane {
	width: 50%;
	height: 100%;
	margin:0px ;
	padding: 0px;
	float: left;
	display: inline-block;
	border: 3px solid #333;
}

.rightpane {
	width: 50%;
	height: 100%;
	margin:0px;
	float: right;
	display: inline-block;
	padding: 0px;
	border: 3px solid #333;
}

.leftpane ul {margin:0;
padding:0;
list-style: none;
}

.leftpane li{ width:100%;
	height:80px;
	border: 0 10px 10px 0;
	border-bottom: 1px solid white;
	overflow: hidden;
	background-color: #416fba;}

.leftpane li:hover { background-color: #194BBE; 
		cursor: pointer;}



 .leftpane img { height:60px;
 			width:60px;
 			margin:10px 0 10px 10px;
 			border-radius: 50px; }

 .leftpane h3 {margin-left:80px;
margin-top:-60px;
font-size:20px;
 		white-space: nowrap;}

 .leftpane article {display:block;
 				margin:0;
 				overflow: hidden;
 	text-overflow: ellipsis;
 				color:#d3d3d3;
 				margin-left:90px;
 				padding-bottom: 20px;
 			}




 .leftpane li:last-child {border-bottom: none;}



h4 { position: fixed;
	margin:0px;
	background-color: green;
		bottom: 0px;
		right:60px;
		color:white;
		z-index:3;
		font-size: 20px;
 		font-family: arial;
 		line-height: 40px;
		display:  block;
		width:20%;
		text-align: center;
		float: right; 
		cursor: pointer;
	height: 40px;}

	a{ color:black; }

	a:hover { color:black; }


 

  ol { margin:0px;
  		padding:0px;
  		display: block;

 }

ol li:hover {background-color: red;}

 ol li { margin: 0px;
 		min-width: 316px;
 				font-family: arial;
 		height:50px;
 	line-height: 50px;
 	background-color: red;
 	padding-left: 10px;
 		 }




 #h	 { 
 		margin:0px;
 		width: 100%;
 		height: 40px;
 		cursor: pointer;
 		color:white;
 		font-family: arial;
 		line-height: 40px;
 		z-index: 1;
 		display: block;
 		background-color: green;
 		font-size: 20px; }


@media screen and (max-width:424px)
{
	.leftpane { margin:0px; 
	margin-top:80px;
		}

.leftpane article { z-index: -1; }

#chat { display: none; }

#g {display: none;}

}