* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bar {
	width: 0px;
	transition: width 0.5s ease;
}

#sidenav {
background-color:#333;
height:100%;
position: fixed;
top:70px;
left:0px;
overflow-y:auto;
margin:0 auto;
margin-left:0px;
padding:0;
overflow-x:hidden;
overflow-y:auto;
text-align:center;
border-radius:0px 3px;
z-index: 10;

}

#sidenav a {text-decoration:none;
display:block;
margin-top:1px;
background-color:#f1f1f1;
color:black;
text-align:center;
padding:10px;
font-size:15px;
border-right: 1px solid #333;
font-family:Britannic Bold;
border-left: 2px solid #333;
line-height:40px;

}


#sidenav a:hover:not(.active) {background-color:#555;
	color:white;
}

#sidenav a.active {  background-color:  #4CAF50;
color:white;}


#sidenav #cross {display: none;

}
.change {
		width:250px;
		transition: width 0.5s ease;
}

.cover {
	margin:0px auto;
}

.dpimg {
	width:300px;
	height: 300px;
	border-radius: 100%;
	border:3px solid #fff;
	align-self: center;
	position: absolute;
	top:100px;
	left:30px;
} 

.name {
	position: absolute;
	left:340px;
}

* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
}

#Home {background-color: #fff;}
#News {background-color: #fff;}
#Contact {background-color: #fff;}
#About {background-color: #fff;}


.content {
	height: 180px;
	width: 100%;
}
.table {
	margin-left: 30px;

}
.secondname {
	display: none;
}

.cover .blck {
	width: 100%;
	position: absolute;
	height:250px;
	top:22px;
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
}

.cover .blck .btn {
	position: absolute;
	top:80px;
	right: 20px;
}


.cover:hover .blck {
		opacity: 1;
		transition: opacity 0.5s ease;
}

.hide {
	display: none;
}

.slow {
		display: inline -block;
	}

#navbarTogglerDemo02{
      transform: translate(50%,0%);
    }

@media screen and (max-width:991px)
{
	.name {
		display: none;
	}
	.secondname {
		display: block;
		width: :100%;
		margin-left: 50px;
		margin-bottom: 30px;
	}


	.hide {
		display: block;
	}

	.slow {
	display: none;
}


	#navbarTogglerDemo02{
      transform: translate(0%,0%);
    }

}