/*body {margin:0 auto;
	padding:0px;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
}

header {background-image: url("bg1.jpg");
	padding-top: 20px;
		background-repeat: no-repeat;
		background-blend-mode: soft-light;
		border-bottom: 4px;
	padding:3px 0 0 0;
clear:both;
}


a:hover {text-decoration: underline;
			color:tan;}
a:active {color:black;
}

img  {float:right;
	ALT:"Rajat's Logo";
	margin:-10px  0 -5px; 
		padding:0;
	height:100px;
	width:100px;

	}

	
header h1   {
	color:rgb(100,127,204);
	margin:0 0;
	font-family:arial;
	padding:1px 5px 0 0;
	display:inline;
	font-family: comic san ms;

}

header ul { 
	
	color:greeen;
	margin:0px;
	padiing:0px;
	display:inline-block;
}

header ul li {
	    left:40px;
		color:white;
		border-radius:5px 5px 0 0;
	font-family:algerian;
	margin:0px 3px 0 5px;
	padding:5px 55px 1px 55px;
	background-color:rgba(0,0,0,0.6);
	display:inline-block;
	list-style-type:none;
}*/

a  {color: white;
	text-decoration: none;
}
a:hover {color:black;}
footer  { clear:both;
margin:10;
}

.rajat {  margin:-30px -50px 0 0;
			padding:0 50px 0 0px;}

.container {height:300px;	
			width:500px;
		   background-color: rgba(53,74, 94,0.5);
		   text-align: center;
		    border-radius: 5px;
		    margin:0 auto;
			margin-top: 120px;}

.container img {margin:-80px 15px -50px 0;
				height:120px;
				width:120px;
				cursor: pointer;

				}

input   {height:45px;
	outline: none;
		width:300px;
		border:none;
		font-size: 18px;
		margin-top: 60px;
		border-radius: 4px;
		padding-left: 07px;
		transition: width 0.4s ease-in-out;
		}

input:focus  {box-shadow: 5px 0px 30px black;
				}


.username {transition: width 0.4s ease-in-out;}

.username:focus {width:400px;}

.password{transition: width 0.4s ease-in-out;}

.password:focus {width:400px;}

.btn-login {width: 100px;
		cursor: pointer;
				height:40px;
			padding:0 5px;
			margin:10px 5px 0 5px;
			background-color: emerald;
			border:none;
			color:black;
			border-radius: 5px 5px 5px 5px;
			border-bottom: nephritis solid;
			
			}

.btn-login:hover {box-shadow: 5px 5px 10px black;}

p  {margin:8px;
	}

.fpass  {color:black;}

.fass:hover {color: white;}


.search img  {margin:0 auto;
			padding:0;
			background-size:272px 92px;
			height:92px;
			width:"272px";
			cursor:pointer;
		}


.lg  {padding-left:173px;
	padding-right:173px;
	width:833px;
}
.sbox {outline: none;
				margin:0 auto;
				margin-top: 0px;
				margin-left: 0px;
				padiing:0 ;
				min-width:500px;
				border:none;
				border-radius: 3px;
				background-image: url("searchlogo.png");
				background-repeat: no-repeat;
				background-position: right;
				background-size: 45px;
    transition: width 0.4s ease-in-out;


			}
.sbox:focus {width:80%;}


			
.lga {height:233px;
margin-top:89px;}

.lga2 {padding-top:109px;}

.lg  {width:100%;
		margin:0;
		padding:0;}

.btn   {margin: 0 auto;
		margin-top:5px;
		margin-left:0px;
		width:170px;
		background-color: tan;
		font-family: Bookman Old Style;
		pointer:cursor;
	opacity: 0.9;}


.btn:hover {box-shadow: 5px 5px 20px black;
	opacity:1;
	}

.rohit {background-image: url("bg2.jpg");
		background-repeat: no-repeat;
	padding:10PX 0 0 0;
	position: fixed;
	bottom:0px;
	width:100%;
	height:40px;
		text-align: left;
		margin-TOP:250PX;
		border-radius: 10PX 10PX 0 0;
		vertical-align: bottom;
		color:black;
		
		}


.sbtn  {width:100%;
			}

 nav p { position:fixed;
 	bottom:0px;height:35px; left: 10px
 	list-style-type: none;
 		display:inline-block;
 		margin:0 2px 5px 0; }

nav H7  {float:right;
		margin-top:20px;
		margin:o auto;
		margin-right: 3px;}