body { background-image:  url("/static/images/rmail.jpg");}

.tite {
  width:100%;
  padding: 0px;}

  .center_div{
    margin: 0 auto;
    width:65% ;
    padding: 30px;  
    border-radius: 20px;
    background-color: rgba(88, 214, 141,0.4);
   }


.special {
  display: none;
}

.content_center {
  margin:0px auto;
  margin-left: 250px;
}

@media screen and ( max-width:991px)
{
  .center_div {
    margin-top: 100px auto;
    background-color: #fff;
    border-radius: 0px;
  }
  .special {
      display: block;

  }
.content_center {
  margin-left: 0px ;

}

}
